@model Tecnun.Applications.Model.TurmaViewModel



<div>
    <select class="selectpicker form-control" data-style="btn-info text-white" id="_periodo" title="Período">
        <option value="0" class="hidden"></option>

    </select>
</div>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="~/Scripts/TecnunDropDownPeriodo.js"></script>
