<div>
    <select class="selectpicker form-control" data-style="btn-success text-white" id="_professor" title="Professores">
        <option value="0" class="hidden"></option>

    </select>
</div>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="~/Scripts/TecnunDropDownProfessor.js"></script>