@model Tecnun.Applications.Model.AlunoViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Atualizar Aluno</h4>
</div>

<div class="modal-body">
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.Hidden("AlunoId", (Guid?)ViewBag.AlunoId)
        @Html.Hidden("CPF", (string)ViewBag.CPF)
        @Html.Partial("_AlunoEditar")

        <div class="modal-footer">
            <input type="submit" value="Adicionar" class="btn btn-success" />
            <input type="button" class="btn btn-danger" data-dismiss="modal" value="Fechar" />
        </div>
    </div>
    }
</div>
