@model Tecnun.Applications.Model.AlunoViewModel

@using (Html.BeginForm("Index", "Home"))
{
    @Html.AntiForgeryToken()

    <br />

    <div class="row">
        <div class="col-lg-10">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                </span>
                @Html.EditorFor(model => model.Buscar, new { htmlAttributes = new { @class = "form-control", @placeholder = "Buscar.." } })
            </div>
        </div>
    </div>
}

